@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom slider styles for Finance page */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  background: #00984f;
  border-radius: 50%;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 24px;
  height: 24px;
  background: #00984f;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}